env:
  global:
    - CC_TEST_REPORTER_ID=806ffaf1bcd1080b8b6ba4839e7acefdb6508332b18162816e4683307e008fec

language: php

matrix:
  include:
  - php: 7.0
  - php: 7.1
  - php: 7.2

sudo: false

addons:
  code_climate:
    repo_token: 806ffaf1bcd1080b8b6ba4839e7acefdb6508332b18162816e4683307e008fec

install:
  - composer install

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - vendor/bin/phpunit --coverage-clover build/logs/clover.xml --configuration phpunit.xml

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
